<div class="container">
    <div class="page-header">
        <h1 class="text-primary">Anuncios publicitarios dependiendo de la persona.</h1>
        <h4 class="text-danger"> Toma un <i>snapshot</i> para analizarla y ver el anuncio específico para ti.</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Snapshot:</h3>
            <canvas id="snapshot"></canvas>
        </div>
        <div class="col-md-6">
            <h3>Video:</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <youtube-video class="embed-responsive-item" video-id="result.src" player="player.player" player-vars=player.vars></youtube-video>
            </div>
        </div>
    </div>
    <hr/>
</div>
<div class="container-fluid" style="background-color: #f4f4f4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Webcam:</h3>
                <webcam on-error="onError(err)" on-streaming="onSuccess()" channel="channel">
                    <div class="alert alert-error" ng-show="webcamError">
                        <span>La camara no pudo iniciar, ¿Se le dió accesso?</span>
                    </div>
                </webcam>
                <button class="btn btn-lg btn-primary" ng-click="makeSnapshot()">Toma snapshot!</button>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Result</th>
                            <th>Age</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="test in tests track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{ test.age }}</td>
                            <td>{{ test.gender }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <footer class="footer">
            <h5>Created by Joel Lara with <b>Bluemix</b></h5>
        </footer>
    </div>
</div>