<div class="container">
    <div class="jumbotron">
    <h1>Anuncios publicitarios dependiendo de la persona.</h1>
    <p>Toma un snapshot para analizarla</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Webcam:</h1>
        </div>
        <div class="col-md-6">
            <webcam class="well-small pull-right"
            on-error="onError(err)"
            on-streaming="onSuccess()"
            channel="channel">
            <div class="alert alert-error" ng-show="webcamError">
                <span>La camara no pudo iniciar, ¿Se le dió accesso?</span>
            </div>
        </webcam>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-lg btn-primary" ng-click="makeSnapshot()">Toma snapshot!</button>
        </div>
        <div class="col-md-2">
            <h3>Edad:</h3>
        </div>
        <div class="col-md-2">
            <h3>{{  (result.averageAge) || 0}}</h3>
        </div>
        <div class="col-md-2">
            <h3>Genero:</h3>
        </div>
        <div class="col-md-2">
            <h3>{{result.parsedGender}}</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <canvas id="snapshot"></canvas>
        </div>
        <div class="col-md-6">
            <img ng-src="{{result.img}}" alt="{{result.alt}}"/>
        </div>
    </div>
</div>