<div class="container">
    <div class="jumbotron">
    <h1>Curated Ads depending on people</h1>
    <p>Toma un snapshot para analizarla</p>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <webcam class="well-small pull-right"
            on-stream="onStream(stream)"
            on-error="onError(err)"
            on-streaming="onSuccess()"
            channel="channel"
            <div class="alert alert-error" ng-show="webcamError">
                <span>La camara no pudo iniciar, ¿Se le dió accesso?</span>
            </div>
        </webcam>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <button class="btn btn-large btn-primary" ng-click="makeSnapshot()">Toma snapshot!</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <canvas id="snapshot"></canvas>
        </div>
    </div>
</div>